# **Q1. What is data encoding? How is it useful in data science?**

### The aim of the data encoding it to convert a categorical feature into sutable numerical feature so that we can train the ML model .

### in the field of data science our main aim is to build machine learning models and train the model with appropriate data, when we have a dataset . the features of the dataset are not always in the numerical data so we have to convert the categorical data into numerical data so that over machine learning model should learn the pattern of the data and predict the outcome values.  

***

# **Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.**

## Nominal encoding is the technique used to trannsform categorical variable that have no internsic ordering into numerical values that can be used in machine learning models. one common method for nominal encoding is one hot encoding which creates a binary vector for each category in the variable .

### The aim of the data encoding it to convert a categorical feature into sutable numerical feature so that we can train the ML model .

*  example : suppose we have a dataset of tips , so we can get how many customer are smocker or not

In [13]:
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

df = sns.load_dataset('tips')

encoded = encoder.fit_transform(df[['smoker']])
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())
del df['smoker']
final_df = pd.concat([df,encoded_df],axis=1)
final_df.head()

   total_bill   tip     sex  day    time  size  smoker_No  smoker_Yes
0       16.99  1.01  Female  Sun  Dinner     2        1.0         0.0
1       10.34  1.66    Male  Sun  Dinner     3        1.0         0.0
2       21.01  3.50    Male  Sun  Dinner     3        1.0         0.0
3       23.68  3.31    Male  Sun  Dinner     2        1.0         0.0
4       24.59  3.61  Female  Sun  Dinner     4        1.0         0.0


# Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.


# Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.


# Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.


# Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.


# Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categoricaldata into numerical data? Provide a step-by-step explanation of how you would implement the encoding.