# **Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.**

- ### **ANS---->** : One of the measure difference between the ordinal encoding and label encoding is as follows :

|Ordinal Encoding | Lable Encoding | 
|-----------------|----------------|
|`Ordinal Encoding` assign unique integer values to each category in categorical variable, preserving the order of the categories. |`Lable Encoding` assigns unique integer values to each category in a categorical variable but the order the categories not preserved.|
|*Example* : if a categorical variable has 3 categories, and ordinal encoding is used, than the value 1,2 and 3 might be assigned to the categories | *Example* : if a cetegoriacal variable has 3 categoris, and label encoding is used than the values 0,1 and 2 might be assigned to the categories. |
|`oridinal encoding` assigns ranking by defualt | while `Label Encoding` gives you the opportunaty to assign ranking according to your need|

***

# **Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.**

**ANS :-** Target guided oridinal encoding is advanced encoding technique that goes beyond simple ordinal encoding or lable encoding. it takes the the relationship between the categorical feature and the target variable into account when assigning integer values to the categories. this means that the assigned integer values reflect the degree of association or ranking of the categories with respect to the target varaible. here's more detailed explanation:

1. **Understanding The Technique:** Target guided oridinal encoding aims to capture the oridinal nature of the categorical variable in a way that alighns with the predictive powet of the categories. in other words, it includes  

***

# **Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?**


*AMS:*
covariance is the statistical measurement that quentifies the degree to which the random variable changes together. in other words, it indicates whether the statistical relationship between the varitions in two variables. it's the measure of the joints variability of two random variables. 

covariance can be possitive negative or zero :

1. positive covariance: if the covariance between two variable is possitive that means when one variable tends to have values above the mean in other words the move in They move in the same direction 
2. Negative Covariance: conversely, if the coviriance is negative it indicates that when one has value about its mean the other variable Things to have value it's below its mean Demo in the opposite directions.
3. Zero covariance if the covariance is close to 0.Suggest that there is a little to no linear relationship between the two variables.Covariance is important in statistical analysis for several reason.For measuring relationship, it helps to understand how two variables are related. Positive covariance suggests a positive relationship, while negative coherence indicates a negative relationship. Zero covenant suggests a littletoo low relationship.Second risk management in finance and economics coherence is used to assess the risk associated with portfolios of assessed positive coherence among assessed import only means that when one asset goes up, other tents.To go up as well, which might increase overall portfolio risk. Third risk.In exploration exploration, coherence is useful tool for initial data exploration. It can give insight into quotation, relationship between variable.And guide further analysis.Causes, coherence is calculated using the following formula for a sample.Co ingredient takes.Equal to 1 - 1 upon N - 1.Servation of one to I equal to 1.To the power XY is the coarse between variable X&Y XI and XYI are the individual points. X bar and Y bar are the sample means of variables, X&Y.Any the number of data points in December it's important to note that the formula product is for sample covariance. If you want to capture the population covariance, you would use 10 in the demonstrator demonstrator instead of in minus one. Additionally, coherence can be affected by the scale of the variables. So it's often usually normal. To normalize it often coordination coefficient, which is dynamic, dimensionless, major that ranges from 1 - 1 to one, and is more interpretable.

***


# **Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.**

***

In [26]:
# dataset with categories 
color = ['green', 'red', 'blue']
size  = ['small', 'medium','large']
material = ['wood', 'metal', 'plastic']

import pandas as pd


df = pd.DataFrame({"color":color,"size":size,"material":material})

# our aim is to use this dataset  and perform the lable encoding on them :

from sklearn.preprocessing import LabelEncoder
encoder1 = LabelEncoder()
encoder2 = LabelEncoder()
encoder3 = LabelEncoder()

In [27]:
df['color_encoded'] =encoder1.fit_transform(df['color'])
df['size_encoded'] =encoder2.fit_transform(df['size'])
df['material_encoded'] =encoder3.fit_transform(df['material'])

In [28]:
df

   color    size material  color_encoded  size_encoded  material_encoded
0  green   small     wood              1             2                 2
1    red  medium    metal              2             1                 0
2   blue   large  plastic              0             0                 1

### **Explanation :the output of the above code indicates that the label encoding we used in our code,  assigns values to the variables of the datataframe according to an alphabetical order , and it considered them as they are greater or smaller by their encoded values in our case let's ,look at our first column named color which has several colors in it after appling label encoding we get the numbers for each color like we get 1 for 'green', 2 for 'red' and 0 for blue because of their alphabetical accourance , but that also means that the model ranke's them according to their encoded value that means red is greater than blue and green because they have less values than red.**

***


# **Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.**

In [29]:
import pandas as pd

# Create a list of dictionaries, where each dictionary represents a person
data = [
    {"Age": 25, "Income": 50000, "Education Level": "Bachelor's Degree"},
    {"Age": 32, "Income": 75000, "Education Level": "Master's Degree"},
    {"Age": 40, "Income": 100000, "Education Level": "PhD"},
    {"Age": 22, "Income": 30000, "Education Level": "High School Diploma"},
    {"Age": 28, "Income": 45000, "Education Level": "Associate's Degree"},
]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Print the DataFrame

In [30]:
from sklearn.preprocessing import OrdinalEncoder
encoder = OrdinalEncoder(categories=[["High School Diploma","Associate's Degree","Bachelor's Degree","Master's Degree","PhD"]])
df['encoded_edu_lvl'] = encoder.fit_transform(df[['Education Level']])

In [31]:
df.drop(['Education Level'],axis=1,inplace=True)

In [32]:
import numpy as np

data = df.values
covariance_matrix = np.cov(data.T)

print("covariance_matrix :", covariance_matrix)

covariance_matrix : [[4.880e+01 1.875e+05 1.000e+01]
 [1.875e+05 7.625e+08 4.250e+04]
 [1.000e+01 4.250e+04 2.500e+00]]

1. ## **Digonal Elements(Variance):**
    * variance(Age) : tells you how much the age in your dataset vary.
    * variance(income) : indincates how much the income varies 
    * variance(encoded_edu_lvl) : represents the variance in the encoded education levels.  



2. ## **Off-Diagonal Elements(covarinace):**
    * covariance(age,income): if possitive it means that as age increses, income tendes to increase.if negative , it means that as age increases,income tends to decrease
    * Covariance(Age, encoded_edu_lvl): Shows how age and encoded education level change together. Positive values mean that, on average, as age increases, the encoded education level tends to increase.
    * Covariance(Income, encoded_edu_lvl): Indicates how income and encoded education level change together. Positive values mean that, on average, as income increases, the encoded education level tends to increase.

***


# **Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?**

***

In [33]:
import pandas as pd
import numpy as np


# create a dataset and identify whihc encoding technique to use and why?

#set a random seed for reproduciability
np.random.seed(42)

# num of sample in the dataset
num_samples = 100

# generate random values for each categorical variable 
gender_values = np.random.choice(['male','female'],size=num_samples)
edu_level_values = np.random.choice(["High School", "Bachlor's" , "master's","PhD"],size=num_samples)
employment_status_values = np.random.choice(['Unemployed','Part-Time','Full-Time'],size=num_samples)


df = pd.DataFrame({
    'gender' :gender_values,
    "education" : edu_level_values,
    'Employemnt Status' :employment_status_values
})

df.head(5)

   gender  education Employemnt Status
0    male   master's         Full-Time
1  female  Bachlor's         Full-Time
2    male  Bachlor's        Unemployed
3    male        PhD        Unemployed
4    male  Bachlor's         Part-Time

In [34]:
#  for  the first variable i choose one-hot encoding becuase it has no inherent order
from sklearn.preprocessing import OneHotEncoder
encoder1 = OneHotEncoder()
encoded = encoder1.fit_transform(df[['gender']])
encoded_df = pd.DataFrame(encoded.toarray(),columns=encoder1.get_feature_names_out())
df.drop('gender',axis=1,inplace=True)
df =pd.concat([df,encoded_df],axis=1)
df.head()

   education Employemnt Status  gender_female  gender_male
0   master's         Full-Time            0.0          1.0
1  Bachlor's         Full-Time            1.0          0.0
2  Bachlor's        Unemployed            0.0          1.0
3        PhD        Unemployed            0.0          1.0
4  Bachlor's         Part-Time            0.0          1.0

In [35]:
# For "Education Level," if there is a clear ordinal relationship (e.g., High School < Bachelor's < Master's < PhD), ordinal encoding might be suitable.
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder(categories=[["High School", "Bachlor's" , "master's","PhD"]])
df['education_encoded']=ordinal_encoder.fit_transform(df[["education"]])
df.head()
df.drop('education',axis=1,inplace=True )

In [36]:
df.head()

  Employemnt Status  gender_female  gender_male  education_encoded
0         Full-Time            0.0          1.0                2.0
1         Full-Time            1.0          0.0                1.0
2        Unemployed            0.0          1.0                1.0
3        Unemployed            0.0          1.0                3.0
4         Part-Time            0.0          1.0                1.0

In [37]:
# For "Employment Status," which might be ordinal (e.g., Unemployed < Part-Time < Full-Time), ordinal encoding might be suitable.

from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder1 = OrdinalEncoder(categories=[['Unemployed', 'Part-Time', 'Full-Time']])
df['Employment Status Encoded'] = ordinal_encoder1.fit_transform(df[['Employemnt Status']])
df.drop('Employemnt Status',axis=1,inplace=True)
df.head()

   gender_female  gender_male  education_encoded  Employment Status Encoded
0            0.0          1.0                2.0                        2.0
1            1.0          0.0                1.0                        2.0
2            0.0          1.0                1.0                        0.0
3            0.0          1.0                3.0                        0.0
4            0.0          1.0                1.0                        1.0

***


# **Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables and interpret the results.**

***

In [38]:
# AIM: calculate the covarinace between each pair or variables 

# creatomg a dataset with following variables
# temperature and humidity (continuas variables) 
# weather condition and  wind direction

import pandas as pd
import numpy as np

# Set seed for reproducibility
np.random.seed(42)

# Generate synthetic data
num_samples = 1000

temperature = np.random.normal(loc=25, scale=5, size=num_samples)
humidity = np.random.normal(loc=60, scale=10, size=num_samples)

weather_conditions = np.random.choice(['Sunny', 'Cloudy', 'Rainy'], size=num_samples)
wind_directions = np.random.choice(['North', 'South', 'East', 'West'], size=num_samples)

# Create a DataFrame
df = pd.DataFrame({
    'Temperature': temperature,
    'Humidity': humidity,
    'Weather Condition': weather_conditions,
    'Wind Direction': wind_directions
})

# Display the first few rows of the dataset
df.head()

   Temperature   Humidity Weather Condition Wind Direction
0    27.483571  73.993554            Cloudy          North
1    24.308678  69.246337             Rainy          North
2    28.238443  60.596304            Cloudy           East
3    32.615149  53.530632             Rainy          North
4    23.829233  66.982233             Rainy           East

In [39]:
# first we have to convert the chategoriavl variables into numerical variable
# for that we can use onehot encoding since it has no inhertance order or any ranking in them , we can surely use onehot encoding for these variables
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoded1 = encoder.fit_transform(df[['Weather Condition']])
encoded_df1 = pd.DataFrame(encoded1.toarray(),columns=encoder.get_feature_names_out()) 
df.drop("Weather Condition",axis=1,inplace=True)
df = pd.concat([df,encoded_df1],axis=1)
df
encoded2 =encoder.fit_transform(df[["Wind Direction"]])
encoded_df2 = pd.DataFrame(encoded2.toarray(),columns=encoder.get_feature_names_out())
df.drop('Wind Direction',axis=1,inplace=True)
df = pd.concat([df,encoded_df2],axis=1)
df.head()

,Temperature,Humidity,Weather Condition_Cloudy,Weather Condition_Rainy,Weather Condition_Sunny,Wind Direction_East,Wind Direction_North,Wind Direction_South,Wind Direction_West
0,27.483571,73.993554,1.0,0.0,0.0,0.0,1.0,0.0,0.0
1,24.308678,69.246337,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,28.238443,60.596304,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,32.615149,53.530632,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,23.829233,66.982233,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [40]:
cov_matrix = df.cov()
cov_matrix

,Temperature,Humidity,Weather Condition_Cloudy,Weather Condition_Rainy,Weather Condition_Sunny,Wind Direction_East,Wind Direction_North,Wind Direction_South,Wind Direction_West
Temperature,23.971596,-1.972975,-0.037678,0.012217,0.025461,-0.087302,0.092296,0.024751,-0.029745
Humidity,-1.972975,99.491523,0.014288,-0.046411,0.032123,0.112073,-0.069654,-0.092194,0.049775
Weather Condition_Cloudy,-0.037678,0.014288,0.218890,-0.105080,-0.113810,0.006026,-0.005849,-0.000166,-0.000011
Weather Condition_Rainy,0.012217,-0.046411,-0.105080,0.219595,-0.114515,-0.001502,0.002678,0.000350,-0.001527
Weather Condition_Sunny,0.025461,0.032123,-0.113810,-0.114515,0.228324,-0.004525,0.003171,-0.000184,0.001538
Wind Direction_East,-0.087302,0.112073,0.006026,-0.001502,-0.004525,0.192593,-0.062723,-0.062983,-0.066887
Wind Direction_North,0.092296,-0.069654,-0.005849,0.002678,0.003171,-0.062723,0.183102,-0.058380,-0.061999
Wind Direction_South,0.024751,-0.092194,-0.000166,0.000350,-0.000184,-0.062983,-0.058380,0.183620,-0.062256
Wind Direction_West,-0.029745,0.049775,-0.000011,-0.001527,0.001538,-0.066887,-0.061999,-0.062256,0.191142

Interpreting the covariance matrix results involves looking at the values in the matrix to understand how each variable in our dataset relates to every other variable. Here's a brief interpretation:

1. **Positive Covariance:**
   - A positive covariance indicates that as one variable increases, the other tends to increase as well.
   - The larger the positive value, the stronger the positive relationship.

2. **Negative Covariance:**
   - A negative covariance indicates that as one variable increases, the other tends to decrease.
   - The smaller the negative value, the stronger the negative relationship.

3. **Covariance Close to Zero:**
   - A covariance near zero suggests a weak or no linear relationship between the variables.

4. **Interpreting Categorical Variables:**
   - For the one-hot encoded categorical variables, covariances can be interpreted similarly.
   - Positive covariances suggest that the presence of one category is associated with the presence of another, and vice versa.
   - Negative covariances suggest an inverse relationship between the presence of one category and another.
***